<body class="welcome-css">
  <div class="container">
    <h1 class="title-css">Practica 2 Redes 1</h1>
    <h1 class="deparment-css">Departamento Informatica/Ventas</h1>
    <h1 class="group-css">Grupo 32</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="titles-table-css">#</th>
            <th scope="col" class="titles-table-css">Nombre</th>
            <th scope="col" class="titles-table-css">Carne</th>
          </tr>
        </thead>
        <tbody class="body-table">
          <tr class="row-color-odd">
            <th scope="row" class="boders-table">1</th>
            <td class="boders-table">Juan Daniel Enrique Roman Barrientos</td>
            <td class="boders-table">201801364</td>
          </tr>
          <tr class="row-color-even">
            <th scope="row" class="boders-table">2</th>
            <td class="boders-table">José Luis Herrera Martínez</td>
            <td class="boders-table">201807431</td>
          </tr>
          <tr class="row-color-odd">
            <th scope="row" class="boders-table">3</th>
            <td class="boders-table">Esdras Jonatan Noj Larios</td>
            <td class="boders-table">201513699</td>
          </tr>
          <tr class="row-color-even">
            <th scope="row" class="boders-table">4</th>
            <td class="boders-table">Yovany Enrique Samines Orozco</td>
            <td class="boders-table">201403689</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
